{% load static %}
<!--FOOTER-->
<footer class="site-footer section">
    <div class="container pb-3">
        <div class="row gap-y text-center text-md-left">
            <div class="col-md-4 mr-auto">
                <img src="{% static 'img/logo.png' %}" alt="" class="logo">
                <p>CodeDevils is an inclusive virtual club that aims to bring ASU students together.</p>
            </div>
            <div class="col-md-2">
                <h6 class="py-2 bold">Organization</h6>
                <nav class="nav flex-column">
                    <a class="nav-item py-2" href="https://codedevils.org/about">About</a>
                    <a class="nav-item py-2" href="https://codedevils.org/about#leadership">Leadership</a>
                    <a class="nav-item py-2" href="https://asu.campuslabs.com/engage/organization/codedevils/" target="_blank">SunDevilSync</a>
                </nav>
            </div>
            <div class="col-md-2">
                <h6 class="py-2 bold">&nbsp;</h6>
                <nav class="nav flex-column">
                    <a class="nav-item py-2" href="https://www.codedevils.org/static/about/CDWelcomeLetter.pdf">Welcome Docs</a>
                    <a class="nav-item py-2"
                       href="https://www.codedevils.org/about/constitution/">Constitution</a>
                    <a class="nav-item py-2" href="https://codedevils.slack.com" target="_blank">Slack</a>
                </nav>
            </div>
            <div class="col-md-2">
                <h6 class="py-2 bold">Club</h6>
                <nav class="nav flex-column">
                    <a class="nav-item py-2" href="#" target="_blank">Documentation</a>
                    <a class="nav-item py-2" href="https://github.com/ASU-CodeDevils" target="_blank">Github</a>
                    <a class="nav-item py-2" href="https://www.hackerrank.com/codedevils-summer-2020" target="_blank">HackerRank</a>
                </nav>
            </div>
        </div>
        <hr class="mt-5">
        <div class="row small align-items-center">
            <div class="col-md-4">
                <p class="mt-2 mb-md-0 color-2 text-center text-md-left">© 2020 CodeDevils - Arizona State University
                    All Rights Reserved.</p>
            </div>
            <div class="col-md-8">
                <nav class="nav justify-content-center justify-content-md-end">
                    <a href="https://codedevils.slack.com" class="btn btn-circle btn-sm btn-2 mr-3 op-4" target="_blank">
                        <i class="fab fa-slack"></i>
                    </a>
                    <a href="https://github.com/ASU-CodeDevils" class="btn btn-circle btn-sm btn-2 mr-3 op-4" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.hackerrank.com/codedevils-summer-2020" class="btn btn-circle btn-sm btn-2 op-4" target="_blank">
                        <i class="fab fa-hackerrank"></i>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</footer>
