{% load i18n static %}
<meta charset="utf-8">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
<title>{% trans 'CodeDevils - Develop. Network. Create.' %}</title>
<meta name="description" content="CodeDevils is an inclusive virtual club that aims to bring ASU students together.">
<meta name="author" content="Abraham Cifuentes (Front-End Developer), Kevin Shelley (Back-End Developer)">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="icon" href="{% static 'img/favicon.png' %}">
<!--Fonts Are pulled from the Google Open Font API-->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">

<!--Open Source CSS for framework and icons-->
<link rel="stylesheet" href="{% static 'css/aos.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}">
<link rel="stylesheet" href="{% static 'css/helper.css' %}">
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'css/odometer-theme-minimal.css' %}">
<link rel="stylesheet" href="{% static 'css/pe-icon-7-stroke.css' %}">
<link rel="stylesheet" href="{% static 'css/prettify.css' %}">
<link rel="stylesheet" href="{% static 'css/simplebar.css' %}">
<link rel="stylesheet" href="{% static 'css/smart_wizard.css' %}">
<link rel="stylesheet" href="{% static 'css/smart_wizard_theme_arrows.css' %}">
<link rel="stylesheet" href="{% static 'css/smart_wizard_theme_circles.css' %}">
<link rel="stylesheet" href="{% static 'css/smart_wizard_theme_dots.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper.css' %}">
<link rel="stylesheet" href="{% static 'css/snackbar.css' %}">
<!--Main Style Sheet-->
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
