<!--TODO include links to various CD resources here-->
{% extends "_index/base.html" %}
{% load crispy_forms_tags i18n static %}
{% block head_title %}{% trans 'Welcome to CodeDevils!' %}{% endblock head_title %}
{% block content %}
<section class="section mt-7n">
    <div class="container bring-to-front pt-0">
		<div class="row align-items-center gap-y">
            <div class="col-md-6">
                <div class="shadow bg-1 p-4 rounded">
                    <form class="form-signin mt-4" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="mt-4 d-flex justify-content-start">
                            <span class="small">
                                {% trans 'Have a question?' %} <a target="_blank" href="https://codedevils.org/contactus/?subject=Help%20with%20Registration">{% trans 'Contact us' %}</a>
                            </span>
                        </div>
                        <div class="d-flex justify-content-start">
                            <span class="small">
                                {% trans 'Already have an account?' %} <a target="_blank" href="{{ login_url }}">{% trans 'Sign in' %}</a>
                            </span>
                        </div>
                        <div class="ajax-button d-flex justify-content-end">
							<button type="submit" class="btn btn-accent btn-rounded mr-0">{% trans 'Submit' %}
								<i class="fas fa-long-arrow-alt-right ml-2"></i>
							</button>
						</div>
                    </form>
                </div>
            </div>
		</div>
    </div>
</section>
{% endblock %}